/* forbidden.component.css */
.forbidden-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  font-family: var(--font-main);
}

.error-content {
  background: linear-gradient(135deg, #ffffff 0%, #f3f3f3 100%);
  min-width: 500px;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px var(--shadow-color);
  text-align: center;
  animation: slideUp 0.5s ease-out;
  transition: transform 0.3s ease;
}

.error-content:hover {
  transform: translateY(-5px);
}

h1 {
  font-size: 8rem;
  color: var(--primary-color);
  margin: 0;
  font-weight: 900;
  font-family: monospace;
  position: relative;
  animation: pulse 2s infinite;
}

h2 {
  color: var(--text-color);
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: bold;
}

p {
  color: var(--text-color);
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.back-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.back-button:hover {
  background-color: var(--accent-color);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


@media (max-width: 768px) {
  .error-content {
    padding: 2rem;
    margin: 1rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
