.profile-landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  box-sizing: border-box;
}

.profile-landing__header {
  margin-bottom: 16px;
}

.profile-landing__header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.profile-landing__header p {
  margin: 4px 0 0;
  font-size: 14px;
  opacity: 0.8;
}

.profile-landing__content {
  flex: 1;
  display: flex;
  align-items: stretch;
}
