.full-width-table {
  width: 100%;
}

.search-field {
  flex: 1;
  max-width: 200px;
  margin-top: 10px;
  border-radius: 12px;
}
.small-toolbar {
  width: 350px;
  height: auto;
  padding: 8px 16px;
  margin-left: auto;
  background-color: var(--primary-color);
  border-radius: 30px;
}

.toolbar-spacer {
  flex: 0.2;
}

mat-icon:hover {
  transform: scale(1.5);
  color: var(--accent-color);
  transition: transform 0.3s ease, color 0.3s ease;

}

