.mat-stepper-vertical {
  max-width: 800px;
  width: 90%;
  margin: 1rem auto;
  background: white;
  border-radius: 16px;
  box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  transition: all 0.3s ease;
}

.mat-stepper-vertical:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

::ng-deep .mat-step-header {
  &:hover {
    background-color: rgba(108, 92, 231, 0.1) !important;
  }

  .mat-step-label {
    font-family: var(--font-main);
    color: var(--text-color);
  }
}

::ng-deep .mat-step-icon {
  background-color: var(--primary-color) !important;
}

button[matStepperNext],
button[matStepperPrevious],
button[matButton]{
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[matStepperNext]:hover,
button[matStepperPrevious]:hover,
button[matButton]:hover{
  background-color: #5a4cb1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-mdc-form-field {
  width: 100%;
  font-family: var(--font-main);
}

button[type="submit"] {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button[type="submit"].valid {
  background-color: var(--success-color);
}

button[type="submit"].invalid {
  background-color: var(--error-color);
  cursor: not-allowed;
}
