/* You can add global styles to this file, and also import other style files */

.my-card-login {
  width: 300px;
  margin: 0 auto;
  background-color: #cfe2ff;
  padding: 10px;
  border: 3px solid #000000;
  border-radius: 25px;
}
.my-card-header {
  text-align: center;
  font-size: 20px;
}
.my-card-body {
  padding: 10px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ffffff;
}
.button[type="submit"] {
  color: #9933FF;
  font-size: 15px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #9933FF;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
