@font-face {
  font-family: 'Railway';
  src: url('../public/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
:root {
 /* --primary-color: #9940d8;*/
/*  --secondary-color: #6c757d;*/
  --font-main: 'Railway', sans-serif;
  --font-headers: 'RobotSlab', serif;
}
:root {
  --primary-color: #6c5ce7;
  --secondary-color: #00cec9;
  --accent-color: #fd79a8;
  --background-color: #f9f9f9;
  --text-color: #2d3436;
  --error-color: #d63031;
  --success-color: #00b894;
  --shadow-color: rgba(108, 92, 231, 0.1);
  --input-bg: #ffffff;
  --low-priority: #27ae60;
  --medium-priority: #f39c12;
  --high-priority: #e74c3c;
  --todo-status: #3498db;
  --inprogress-status: #f1c40f;
  --completed-status: #2ecc71;
}






































