@font-face {
  font-family: 'Railway';
  src: url('../public/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
:root {
  --primary-color: #9940d8;
  --secondary-color: #6c757d;
  --font-main: 'Railway', sans-serif;
  --font-headers: 'RobotSlab', serif;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
}

-btn-primary:hover {
  background-color: #7b39c9;
}





































