.confirm-btn {
  width: 100%;
  margin: 25px 10px;
  background: var(--completed-status) !important;
  color: white !important;
}

.error-message {
  color: red;
  font-size: 1.5rem;
  font-family: var(--font-main);
}
