.navbar {
  background: linear-gradient(135deg, #eb8cf9, #2193b0);
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 10vh;
  border-radius: 20px;
}

.navbar header {
  font-size: 50px;
  font-weight: 1000;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

