<li *ngFor="let task of tasks$ | async">
  <div>
    <span class="status-indicator" [ngClass]="task.Status"></span>
    {{ task.Name }} - <span [ngClass]="task.Priority">{{ task.Priority }}</span> - {{ task.Status }}
  </div>
  <div>
    <button (click)="onEditTask(task)">
      <i class="fa fa-edit edit-icon"></i>
    </button>
    <button (click)="onDeleteTask(task.id)">
      <i class="fa fa-trash delete-icon"></i>
    </button>
    <button (click)="onViewTask(task)">
      <i class="fa fa-eye view-icon"></i>
    </button>
  </div>
</li>
