.announcement-list {
  border-radius: 20px;
  background-color: var(--background-color);
  min-width: 200px;
  width: 80%;
  margin: 10px 20px;
  padding: 1.5rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  height: 550px;
}

.announcement-item {
  background-color: white;
  min-height: 50px;
  max-height: 125px;
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  position: relative;
}

.announcement-item:hover {
  transform: translateY(-5px);
}

.announcement-item h3 {
  margin: 0 0 1rem 0;
  color: #2c3e50;
  font-size: 1.25rem;
}

.announcement-item p {
  margin: 0;
  color: #555;
  line-height: 1.5;
  flex-grow: 1;
  word-break: break-word;
  overflow-wrap: break-word;
}

.actions-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  gap: 0.5rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: rgba(108, 92, 231, 0.1);
  transform: scale(1.1);
}

.edit-icon {
  color: #3498db;
  font-size: 1rem;
}

.delete-icon {
  color: #e74c3c;
  font-size: 1rem;
}


