.short-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin: 1rem auto;
  background: white;
  border-radius: 16px;
  box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  transition: all 0.3s ease;
}

short-info:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.long-scrollable-text {
  flex: 1;
  max-width: 400px;
  overflow-y: auto;
  padding: 1.5rem;
  box-shadow: 0 8px 16px var(--shadow-color);
  border-radius: 16px;
  background: white;
  height: 50%;
  font-family: var(--font-main);
  color: var(--text-color);
  line-height: 1.6;
  text-align: justify;
  text-indent: 2em;
  white-space: pre-line;
}
img {
  border-radius: 16px;
  margin-top: 40px;
}
