body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

.task-form {
  max-width: 800px;
  width: 90%;
  margin: 1rem auto;
  background: white;
  border-radius: 16px;
  box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  transition: all 0.3s ease;
}

.task-form:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}
h2 {
  font-family:monospace;
  color: var(--primary-color);
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 1000;
}

h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: var(--accent-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 600;
  color: var(--text-color);
}

input, select {
  padding: 0.75rem 1rem;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: var(--input-bg);
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  width: 95%;
}

input:focus, select:focus {
  outline: none;
  border-color:#2d3436;
  box-shadow: 0 0 0 3px rgba(21, 21, 22, 0.2);
}

select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236c5ce7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

button[type="submit"] {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #6c5ce7;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}


button[type="submit"]:hover {
  background-color: #5a4cb1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

button[type="submit"]:active {
  background-color: #473b91;
  transform: translateY(0);
}

button[type="submit"][disabled] {
  background-color: #b2bec3;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

button[type="submit"].valid {
  background-color: #2ecc71;
}

button[type="submit"].invalid {
  background-color: #e74c3c;
}


@media (max-width: 768px) {
  .task-form {
    margin: 2rem 1rem;
    padding: 2rem;
    width: 95%;
  }

  h2 {
    font-size: 1.5rem;
  }

  input, select, button {
    font-size: 0.9rem;
  }
}

select[formControlName="priority"] {
  padding-left: 2.5rem;
  background-position: left 0.75rem center, right 1rem center;
  background-size: 1em, 1em;
  background-repeat: no-repeat, no-repeat;
}

select[formControlName="priority"] option[value="low"] {
  color: var(--low-priority);
}

select[formControlName="priority"] option[value="normal"] {
  color: var(--medium-priority);
}

select[formControlName="priority"] option[value="high"] {
  color: var(--high-priority);
}

select[formControlName="priority"]:has(option[value="low"]:checked) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%2327ae60'%3E%3Cpath d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9l17-17c9.4-9.4 24.6-9.4 33.9 0l39 39 96-96c9.4-9.4 24.6-9.4 33.9 0l17 17c9.4 9.4 9.4 24.6 0 33.9z'/%3E%3C/svg%3E"),
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236c5ce7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

select[formControlName="priority"]:has(option[value="normal"]:checked) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23f39c12'%3E%3Cpath d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9l17-17c9.4-9.4 24.6-9.4 33.9 0l39 39 96-96c9.4-9.4 24.6-9.4 33.9 0l17 17c9.4 9.4 9.4 24.6 0 33.9z'/%3E%3C/svg%3E"),
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236c5ce7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

select[formControlName="priority"]:has(option[value="high"]:checked) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23e74c3c'%3E%3Cpath d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9l17-17c9.4-9.4 24.6-9.4 33.9 0l39 39 96-96c9.4-9.4 24.6-9.4 33.9 0l17 17c9.4 9.4 9.4 24.6 0 33.9z'/%3E%3C/svg%3E"),
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236c5ce7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

select[formControlName="status"] {
  padding-left: 2.5rem;
  background-position: left 0.75rem center, right 1rem center;
  background-size: 1em, 1em;
  background-repeat: no-repeat, no-repeat;
}

select[formControlName="status"] option[value="To-Do"] {
  color: var(--todo-status);
}

select[formControlName="status"] option[value="In-Progress"] {
  color: var(--inprogress-status);
}

select[formControlName="status"] option[value="Finished"] {
  color: var(--completed-status);
}

select[formControlName="status"]:has(option[value="To-Do"]:checked) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%233498db'%3E%3Cpath d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9l17-17c9.4-9.4 24.6-9.4 33.9 0l39 39 96-96c9.4-9.4 24.6-9.4 33.9 0l17 17c9.4 9.4 9.4 24.6 0 33.9z'/%3E%3C/svg%3E"),
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236c5ce7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

select[formControlName="status"]:has(option[value="In-Progress"]:checked) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23f1c40f'%3E%3Cpath d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9l17-17c9.4-9.4 24.6-9.4 33.9 0l39 39 96-96c9.4-9.4 24.6-9.4 33.9 0l17 17c9.4 9.4 9.4 24.6 0 33.9z'/%3E%3C/svg%3E"),
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236c5ce7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

select[formControlName="status"]:has(option[value="Finished"]:checked) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%232ecc71'%3E%3Cpath d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9l17-17c9.4-9.4 24.6-9.4 33.9 0l39 39 96-96c9.4-9.4 24.6-9.4 33.9 0l17 17c9.4 9.4 9.4 24.6 0 33.9z'/%3E%3C/svg%3E"),
  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236c5ce7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

.task-description {
  padding: 1rem;
  min-height: 200px;
  border-radius: 0.375rem;
  width: 95%;
  resize: none;
}
.error-message {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}

.blocked {
  font-family:monospace;
  color: var(--primary-color);
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 0.5rem;
  font-weight: 1000;
}

.refresh-icon {
  color: #2ecc71;
}

#restart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

#restart-button:hover {
  background-color: rgba(108, 92, 231, 0.1);
  transform: scale(1.1);
}

/*Some css for angular component*/
::ng-deep .mat-mdc-form-field {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

::ng-deep .mat-mdc-select-panel {
  border-radius: 10px !important;
  background: white !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

::ng-deep .mat-mdc-form-field-appearance-outline {
  .mdc-notched-outline__leading,
  .mdc-notched-outline__trailing,
  .mdc-notched-outline__notch {
    border-color: transparent !important;
    background-color: var(--input-bg);
  }

  .mat-mdc-form-field-flex {
    background-color: var(--input-bg);
    border-radius: 10px;
    padding: 0.5rem 0.75rem !important;
  }
}

::ng-deep .mat-mdc-select-value {
  color: var(--text-color);
}

::ng-deep .mat-mdc-select-arrow {
  color: #6c5ce7;
}

::ng-deep .mat-mdc-option {
  font-family: 'Montserrat', sans-serif;
  height: 48px !important;

  &:hover {
    background-color: rgba(108, 92, 231, 0.1) !important;
  }

  &.mat-mdc-option-active {
    background-color: rgba(108, 92, 231, 0.2) !important;
  }

  &.mat-mdc-selected-option {
    background-color: rgba(108, 92, 231, 0.3) !important;
  }
}


   ::ng-deep .mat-mdc-select-multiple .mat-mdc-chip {
     background-color: #6c5ce7 !important;
     color: white !important;
     border-radius: 16px !important;
     padding: 4px 8px !important;

     .mat-mdc-chip-remove {
       color: white !important;
       opacity: 0.8;

       &:hover {
         opacity: 1;
       }
     }
   }


   ::ng-deep .mat-mdc-form-field.mat-focused {
     .mdc-notched-outline__leading,
     .mdc-notched-outline__trailing,
     .mdc-notched-outline__notch {
       border-color: #2d3436 !important;
       border-width: 2px !important;
     }
   }
