.sidenav {
  height: 100%;
  width: 75px;
  background: linear-gradient(180deg, #eb8cf9, #2193b0);
  margin-top: 15px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.sidenav nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  width: 100%;
  padding: 25px 0;
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  transition: all 0.3s ease;
  position: relative;
}

.menu-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: white;
  transform: scaleY(0);
  transition: transform 0.3s ease;
}

.menu-item:hover::before,
.menu-item.active::before {
  transform: scaleY(1);
}

.menu-item a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 45%;
  padding-left: 25px;
}

.menu-item mat-icon {
  font-size: 25px;
  color: white;
  transition: all 0.3s ease;
}

.menu-item:hover mat-icon,
.menu-item.active mat-icon {
  transform: scale(1.2);
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
