.group-form {
  max-width: 800px;
  width: 90%;
  margin: 1rem auto;
  background: white;
  border-radius: 16px;
  box-shadow: 20px 40px 20px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  transition: all 0.3s ease;
}

.group-form.transparent {
  background: transparent;
  box-shadow: none;
}

.group-form.transparent:hover {
  transform: translateY(0px);
  box-shadow: none;
}

.group-form:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Styles for Angular Material */
::ng-deep .mat-mdc-form-field {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

::ng-deep .mat-mdc-form-field-appearance-fill {
  background-color: var(--input-bg);
  border-radius: 10px;
}

button[type="submit"] {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  margin-top: 1rem;
}

button[type="submit"]:hover {
  background-color: var(--success-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

button[type="submit"]:disabled {
  background-color: var(--error-color);
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

@media (max-width: 768px) {
  .group-form {
    margin: 2rem 1rem;
    padding: 2rem;
    width: 95%;
  }

  .title-header {
    font-size: 1.5rem;
  }
}
