<div class="group-form">
  <h2 class="title-header">Create group</h2>
  <form>
    <input formControlName="name" placeholder=" ">
    <label>Title</label>
    <span *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched" class="error-message">
        Title is required.
      </span>
    <input formControlName="name" placeholder=" ">
    <label>Title</label>
    <span *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched" class="error-message">
        Title is required.
      </span>
    <input formControlName="name" placeholder=" ">
    <label>Title</label>
    <span *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched" class="error-message">
        Title is required.
      </span>
  </form>
</div>
