<div class="group-form">
  <h2 class="title-header">Create group</h2>
  <form>
    <input formControlName="name" placeholder=" ">
    <label>Title</label>
    <span *ngIf="groupForm.get('name')?.invalid && groupForm.get('name')?.touched" class="error-message">
        Title is required.
      </span>
    <input formControlName="description" placeholder=" ">
    <label>Title</label>
    <span *ngIf="groupForm.get('name')?.invalid && groupForm.get('name')?.touched" class="error-message">
        Title is required.
      </span>
    <input type="select" formControlName="admin_ID" placeholder=" ">
    <label>Admin</label>
    <span *ngIf="groupForm.get('name')?.invalid && groupForm.get('name')?.touched" class="error-message">
        Title is required.
      </span>
  </form>
</div>
