.form-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  align-items: center;
}
mat-label {
 color: var(--primary-color);
 text-indent: 10px;
 font-family: var(--font-main);
}

button[type="submit"] {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
button[type="submit"]:hover {
  background-color: var(--accent-color);
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
mat-form-field {
  margin-bottom: 20px;
}
