.grid-container {
  margin: 20px;
}

.dashboard-card {
  background: linear-gradient(135deg, #f5f7fa, #e2ebf0);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  margin: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.mat-card-header {
  background: linear-gradient(135deg, #cfd9df, #e2ebf0);
  border-radius: 8px 8px 0 0;
}

.mat-card-title {
  color: var(--text-color);
  font-size: 1.2rem;
  margin: 0;
}

dashboard-card-content {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.announcement-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.header-mat {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: 1000;
  color: var(--primary-color);
  margin: 0;
}

app-announcement-form {
  margin-right: 30px;
}
.group-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.task-container {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  align-items: center;
}
