<div class="grid-container">
  <h1 class="mat-h1">Welcome </h1>
  <mat-grid-list cols="2" rowHeight="350px">
    @for (card of cards | async; track card) {
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            @if (card.type === 'userStats')
            {
              <div class="card-content-users">
                <div class="user-count">
                  <mat-icon>people</mat-icon>
                  <span>Active users: {{userCount}}</span>
                </div>
                <button mat-raised-button (click)="onManageUserClick()">
                  <mat-icon>settings</mat-icon>
                  Manage users
                </button>
              </div>
            }
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>
