.grid-container {
  margin: 20px;
}

.dashboard-card {
  background: linear-gradient(135deg, #f5f7fa, #e2ebf0);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color);
  margin: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  transition: transform 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.mat-card-header {
  background: linear-gradient(135deg, #cfd9df, #e2ebf0);
  padding: 15px;
  border-radius: 8px 8px 0 0;
}

.mat-card-title {
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 1.2rem;
  margin: 0;
}

.dashboard-card-content {
  padding: 20px;
  font-family: var(--font-main);
}

.grid-container {
  margin: 20px;
}

.mat-h1 {
  font-family: var(--font-headers);
  color: var(--text-color);
  margin-bottom: 20px;
}

/*user managment part*/
.card-content-users {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}

.user-count {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: row-reverse;
}

.user-count mat-icon {
  position: absolute;
  transform: scale(5);
  color: var(--accent-color);
}

.user-count span {
  font-family: monospace;
  font-size: 4rem;
  margin: 20px;
  text-align: center;
  font-weight: 1000;
  color: var(--primary-color);
}

button[mat-raised-button] {
  grid-column: 3;
  grid-row: 1/2;
  align-self: start;
  background-color: var(--primary-color);
}


/* group managment part*/

.card-content-groups{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.group-count {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.group-count span{
  font-family: monospace;
  font-size: 4rem;
  margin: 20px;
  text-align: center;
  font-weight: 1000;
  color: var(--primary-color);
}

.group-count mat-icon {
  align-self: center;
  transform: scale(5);
  color: var(--accent-color);
  margin: 40px;
}

.button-container button:not(:first-child) {
  margin-top: 20px;
}

.button-container button {
  width: 100%;
}
