app-group-short-info {
  grid-column: 1/3;
  grid-row: 1;
}

.group-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/*Tutaj zmienic ten shit*/
.info-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  grid-column: 1 / 3;
  grid-row: 2;
}

.announcement-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.announcement-item {
  background: white;
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px var(--shadow-color);
}

.announcement-item h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  font-family: var(--font-headers);
}

.announcement-item p {
  color: var(--text-color);
  margin: 0;
  line-height: 1.5;
}

.task-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  grid-column: 2 / 3;
  grid-row: 2;
}

.user-list {
  grid-column: 1/3;
  grid-row: 3
}

app-task-list {
  grid-column: 2/3;
  grid-row: 2;
  margin-top: 30px;
}

