.group-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

app-group-short-info {
  grid-column: 1/3;
  grid-row: 1;
}

.info-data {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: flex-start;
  gap: 1rem;
  grid-column: 1 / 3;
  grid-row: 2;
}

.user-list {
  grid-column: 1/3;
  grid-row: 3
}

.info-data mat-divider {
  margin: 0 1.5rem;
  align-self: stretch;
}

.announcement-container {
  display: flex;
  flex-direction: column;
}



