app-group-short-info {
  grid-column: 1/3;
  grid-row: 1;
}

.group-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/*Tutaj zmienic ten shit*/
.info-data {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  gap: 1rem;
  grid-column: 1 / 3;
  grid-row: 2;
}

.user-list {
  grid-column: 1/3;
  grid-row: 3
}

.info-data mat-divider {
  width: 100%;
  color: transparent;
  align-self: stretch;
  margin: 1rem auto;

}


