<div class="group-page">
  <app-group-short-info [group]="group"></app-group-short-info>
  <div class="info-data">
  @if (announcements.length > 0) {
    <h1 class="title-header">Announcements</h1>
    <uL class="announcement-list">
      @for (announcement of announcements; track announcement.id) {
        <li class="announcement-item">
          <h3>{{announcement.title}}</h3>
          <p>{{announcement.text}}</p>
        </li>
      }
    </uL>
  } @else {
    <h2 style="margin-left: 20px">No any new announcements</h2>
  }
  </div>
  <div class="task-info">
    <h1 class="title-header">Tasks</h1>
  </div>
  <app-task-list></app-task-list>
  <div class="user-list">
    <h1 class="title-header">Users in group</h1>
    <table mat-table [dataSource]="usersDataSource">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef class="hidden">Name </th>
        <td mat-cell *matCellDef="let element" class="hidden"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="Surname">
        <th mat-header-cell *matHeaderCellDef> Surname </th>
        <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
      </ng-container>
     <ng-container matColumnDef="Email">
       <th mat-header-cell *matHeaderCellDef> Email </th>
       <td mat-cell *matCellDef="let element"> {{element.email}} </td>
     </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
